<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>New Schedule</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>

  <%- include('../partials/header') %>

  <main>
    <form method="POST" action="/schedules">
      <div>
        <label for="userid">User ID</label>
        <input id="user_id" type="number" name="user_id" required>
      </div>

      <div>
        <label for="day">Day</label>
        <input id="day" type="number" name="day" min=1 max=7 required>
      </div>

      <div>
        <label for="startat">Start at</label>
        <input id="start_at" type="time" name="start_at" required>
      </div>

      <div>
        <label for="endat">End at</label>
        <input id="end_at" type="time" name="end_at" required>
      </div>

      <button type="submit">Add new schedule</button>
    </form>
  </main>

  <!-- include footer -->

</body>
</html> 